{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>WoltShare</title>
    <meta
      content="WoltShare for sharing your favourite food with your community"
      name="description"
    />
    <meta
      content="food, wolt, sharing, caring, economy, waste"
      name="keywords"
    />
    <link href="https://static.wolt.com/favicon.ico" rel="icon" />
    <link href="https://static.wolt.com/favicon.ico" rel="apple-touch-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />


    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {

          var reader = new FileReader();

          reader.onload = function(e) {
            $('.image-upload-wrap').hide();

            $('.file-upload-image').attr('src', e.target.result);
            $('.file-upload-content').show();

            $('.image-title').html(input.files[0].name);
          };

          reader.readAsDataURL(input.files[0]);

        } else {
          removeUpload();
        }
      }

      function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
      }
      $('.image-upload-wrap').bind('dragover', function () {
          $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
          $('.image-upload-wrap').removeClass('image-dropping');
      });
    </script>



  </head>

  <body>
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <a
          href="/"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <img src="{% static 'images/logo.png' %}" alt="wolt logo" />
        </a>
        <nav class="navbar">
          {% if not user.is_authenticated %}
          <a
            class="navbar-toggler-right"
            href="/accounts/login"
            style="margin-left: 40px"
            class="glightbox"
            >Log in</a
          >
          <a class="btn-11" href="/accounts/login">Sign up</a>
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
          {% else %}
          <a class="btn-11" href="/accounts/profile">My Profile</a>
          {% endif %}
        </nav>
      </div>
    </header>


    {% block content %}{% endblock %}

    <footer id="footer" class="footer">
      <div class="container">
        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <div>
            <img
              src="{% static 'images/woltW.png' %}"
              class="w-50 logo-footer"
            />
          </div>
        </div>
        <div class="row gy-3">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow Us</h4>
            <div class="social-links d-flex">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <div>
              <h4>Let's do this together</h4>
              <p>
                How does WoltShare work <br />
                Wolt Drive <br />
                Join us <br />
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex">
            <div>
              <h4>Company</h4>
              <p>
                About us <br />
                Responsability <br />
                Security <br />
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <div>
              <h4>Useful links</h4>
              <p>
                Support <br />
                Media <br />
                Contact <br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>WoltShare</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
