{% extends 'base.html' %}
{% load static %}


{% block content %}
	<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Don’t waste it<br>Share it</h2>
          <p data-aos="fade-up" data-aos-delay="100">Everyone can be a chef in their own kitchen. Have you cooked more? You bought more than you need? Don’t trow that away! Share with your Wolt community</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="/product/" class="btn-11">Start sharing now</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url({%static 'assets/img/about.jpg'%}) ;" data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>If you want to know more:</h4>
            <p><a href="https://wolt.com/en/drive">Wolt Drive</a></p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Wolt Share is a bridge between people to increase food waste management and help people to live healthy and sustainable life.
        We are delivering homemade food and ingredients from person to person.

            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Delicious home-made food without spending a lot of money and time on cooking</li>
              <li><i class="bi bi-check2-all"></i> Cheaper ingredients</li>
              <li><i class="bi bi-check2-all"></i> Better life for our planet! </li>
            </ul>
            <p>
              Sharing is caring! Share, don’t waste!
            </p>

            <div class="position-relative mt-4">
              <img src="{%static 'assets/img/about-2.jpg'%}" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>


      </div>
    </section>
  </main>
{% endblock %}
