{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>

  <body>
      <main id="main">
          <section >
              <form action="{% url 'woltshare:product_add' %}" method="post"> {% csrf_token %}
              
            {% if error %}
            {{ error }}
{% endif %}



<div class="container" data-aos="fade-up">
    <div class="section-header">
        <h2>Share your food</h2>
                <p>Upload <span>the food </span> you want to share</p>
            </div>
            
            <div class="row">
                <div class="col">
                    
                    
                    
                    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" id="image" name="image"/>
                            <div class="drag-text">
                                <h3>Drag and drop here photos of your food</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="mt-3 ms-5 form-check">
                        <input type="checkbox" class="form-check-input" id="containter">
                        <label class="form-check-label" for="container">I will use my own container</label>
                    </div>
                    
                    <div class="mt-3 ms-5 form-check">
                        <input type="checkbox" class="form-check-input" id="rules">
                        <label class="form-check-label" for="rules">I have read the <a href="">rules of responsibility</a> related to sharing food</label>
                    </div>
              </div>
              <div class="col">
                  <form>
                <div class="mb-4">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="foodtitle">
                    <div id="foodtitle" class="form-text">Write a descriptive title for your food</div>
                </div>
                
                <div class="row mb-4">
                    <div class="col-5">
                        <label for="foodtype" class="form-label">Select the food type</label>
                        <select class="form-control" id="foodtype">
                            <option value="COOK">Cooked food</option>
                            <option value="PACK">Packaged food</option>
                            <option value="FRUT">Fruits</option>
                    <option value="VEGE">Vegetables</option>
                  </select>
                  </div>
                  
                  <div class="col-5">
                      <!-- <label for="quantity" class="form-label">Select the food quantity</label>
                  <select class="form-control" id="quantity" name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> -->
                    </div>
                    
                    <div class="col-2">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" aria-describedby="foodtitle">
                </div>

                </div>


                <div class="mb-4">
                  <label for="description" class="form-label">Briefly describe your food</label>
                   <textarea class="form-control" id="description" rows="3"></textarea>
                </div>

                <div class="mb-4">
                    <label for="allergens" class="form-label">Allergens:</label> <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ingredient1s" value="gluten">
                    <label class="form-check-label" for="ingredients1">Cereals</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ingredients2" value="Fish">
                    <label class="form-check-label" for="ingredients2">Fish</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ingredients3" value="Eggs">
                    <label class="form-check-label" for="ingredients3">Eggs</label>
                  </div>


                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ingredients4" value="Peanuts">
                    <label class="form-check-label" for="ingredients4">Peanuts</label>
                  </div>


                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ingredients5" value="Soybeans">
                    <label class="form-check-label" for="ingredients5">Soybeans</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ingredients6" value="Milk">
                    <label class="form-check-label" for="ingredients6">Milk</label>
                  </div>
                </div>
              </form>
              </div>
              <button type="submit" class="btn btn-primary">PUBLISH</button>
            </div>
          </div>

         </form>

        </section>

    </main>
</body>


{% endblock %}



{% comment %} {% load static %}
<html>

<link rel="stylesheet" href="{% static 'style.css' %}">

<body>

<form action="{% url 'woltshare:product_add' %}" method="post"> {% csrf_token %}
    Hello, Marco
    <br>

    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" placeholder="How many portions do you have?" value=5>
    <br>

    <label for="price_per_quant">Price per quantity</label>
    <input type="number" id="price_per_quant" name="price_per_quant" placeholder="Price for one portion" value=1>
    <br>

    <label for="description">Description</label>
    <input type="text" id="description" name="description" placeholder="Describe the food..." value="so good">
    <br>

    <label for="ingredients">Ingredients</label>
    <input type="text" id="ingredients" name="ingredients" placeholder="What does it have?" value="Everything">
    <br>

<!-- {{...models.FOOD_TYPE_CHOICES}} -->

    <label for="food_type">Food type</label>
    <select id="food_type" name="food_type">
        <option value="PACK">Packaged</option>
        <option value="INGR">Ingredient</option>
      </select>
    <br>

    <label for="packaging">Does it have packaging?</label>
    <input type="checkbox" id="packaging" name="packaging" checked>
    <br>

    <label for="image">Image</label>
    <input type="file" id="image" name="image">
    <br>

    <input type="submit" value="Swoosh" />
</form>

</body>
</html> {% endcomment %}
