{% extends 'base.html' %}
{% load static %}


{% block content %}
  <main id="main">
	  <section class="mt-5 py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="images/product.jpg" alt="food" /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Cooked by: <a href="profile.html">Name Surname</a><span class="text-secondary"> (Helsinki, 10km)</span></div>
                        <h1 class="display-5 fw-bolder">FOOD NAME</h1>
						<h5>Date: 04-11-2022</h5>
                        <div class="fs-5 mb-4">
                            <span>€4.00</span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
						<p class="h6 mb-4">Ingredients: vegetables, spices and Herbs, cereals and Pulses, meat, dairy Products, fruits products</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

  </main>

{% endblock %}
